
$side : 393px;

$five_1920:1920px;
$five_class:'kkpage-1920';

$four_1680:1680px;
$four_class:'kkpage-1680';


$three_1440:1440px;
$three_class:'kkpage-1440';

$two_1180:1180px;
$two_class:'kkpage-1180';


$one_980:980px;
$one_class:'kkpage-980';

@function calculate($param,$sW) {
  $result: ();
  $right : $param * (393/1680);
  $right_img:$param * (160 /1680);
  $screen_B:$param;
  $screen_W:$screen_B - $sW;
  $screen_vw:$screen_W - $right - 30;
  $screen_vh:$screen_vw * 9 /16 ;
  $result:($screen_B, $screen_W,$screen_vw,$screen_vh,$right,$right_img);
  @return $result;
}

@mixin screenAdopt($name,$param,$sW:200){
  $list : calculate($param,$sW);
  .#{$name} {
    .live-box{
      width: nth($list,2);
      margin: 0 auto;
    }
    .section{
      width: nth($list,3);height:  nth($list,4) + 58;
    }
    .screen embed,.screen object{
      width:nth($list,3);height: nth($list,4);
    }
    #zbLiu{
      min-height:nth($list,4)- 20 !important;
    }
    .live-tab-content{
      height: nth($list,4)- 20 ;
    }
    .aside{
      width:nth($list,5) + 30 ;
    }
    .live-tabs{
      width:nth($list,5) ;
    }
    .tabcon .videoHuiguImg{
      width:nth($list,6) ;
      height:nth($list,6) * 9 / 16;
    }
    .tabcon{
      .videoHuiguTxt{
        margin-left:nth($list,6)+ 15;
      }
      .videoHuiguTxt dl{
        height:nth($list,6) * 9 / 16;
      }
    }
  }
}


@include screenAdopt($five_class,$five_1920);
@include screenAdopt($four_class,$four_1680);
@include screenAdopt($three_class,$three_1440);
@include screenAdopt($two_class,$two_1180,10);
@include screenAdopt($one_class,$two_1180,10);




