
.program_list{
  max-width: 360px;
  min-width: 280px;width: 280px;
}
.aside .program_all{
  max-width: 210px;
}
.play-rc-pack .program_all{
  display:none;
}

$dateBox : 75px;
$itemHeight : 77px;
$five_1920:1920px;
$four_1680:1680px;
$three_1440:1440px;
$two_1180:1180px;
$one_980:980px;


@function calculate($param,$sW) {
  $result: ();
  $screen_B:$param;
  $screen_W:$screen_B - 30;
  $screen_vw:$screen_W - $sW;
  $screen_vh:$screen_vw *9 /16 ;
  $screen_ph:$screen_vh + 90 - $dateBox;
  $screen_fh:$screen_vh + 20 - $itemHeight;
  $screen_zh:$screen_vh + $itemHeight;
  $result:($screen_B, $screen_W,$screen_vw,$screen_vh,$screen_ph,$screen_fh,$screen_zh);
  @return $result;
}

@mixin screenAdopt($param,$sW:575px,$rc:325px) {

  $list : calculate($param,$sW);

  .play-rc-pack .non-live-box{
    min-width: $param - $rc;width: $param - $rc;margin:0 auto;
  }
  .aside{
    left:nth($list,3);//$screen_vw
  }
  .section,.living-area{
    width : nth($list,3);//$screen_vw
  }
  .screen{
    width : nth($list,3);//$screen_vw
    height: nth($list,4);//$screen_vh
  }
  .non-live-box {
    .live-tab-content{
      height: nth($list,5);//$screen_ph
    }
    .channel_fm{
      height: nth($list,6);//$screen_fh
    }
    .listcontrol-pack{
      height:nth($list,7);//$screen_zh
    }
  }
  .non-live-box {
    margin: 0px 0px 0 30px;
  }
}

@mixin ieAdopt($param,$iename,$sW:575px){

  $list : calculate($param,$sW:575px);

  .#{$iename}.play-rc-pack .non-live-box{
    min-width:280+ nth($list,3);width:280 + nth($list,3);margin:0 auto;//$screen_vw
  }
  .#{$iename} .non-live-box{
    min-width:480 + nth($list,3);width:480 + nth($list,3);margin:0 auto;//$screen_vw
  }
  .#{$iename} .aside{
    left:nth($list,3);//$screen_vw
  }
  .#{$iename} .program_list{
    min-width: 280px;width: 280px;
  }
  .#{$iename} .aside .program_all{
    min-width: 174px;width: 174px;
  }
  .#{$iename} .section,.#{$iename} .living-area{
    width : nth($list,3);//$screen_vw
  }
  .#{$iename} .screen{
    width : nth($list,3);//$screen_vw
    height: nth($list,4);//$screen_vh
  }
  .#{$iename} .non-live-box {
    .live-tab-content{
      height:nth($list,5);//$screen_ph
    }
    .channel_fm{
      height:nth($list,6);//$screen_fh;
    }
    .listcontrol-pack{
      height:nth($list,7);//$screen_zh
    }
  }
}

@mixin smallFont(){
  .liveShare {
    position: absolute;
    top: 15px;
    right: 0;
  }
  .liveShare a i {
    display: inline-block;
    overflow: hidden;
    width: 40px;
    height: 40px;
    color: #999;
  }
  .liveShare a i {
    background:url(../images/share.png) no-repeat;
    background-size: 120px;
  }
  .liveShare a.qq i {
    background-position: -80px;
  }
  .liveShare a.wx i {
    background-position: -40px;
  }
  .game-head .badge{
    font-size: 20px;
  }
}

@include screenAdopt($five_1920);


$i: 1;
$domWidth:1920px,1680px,1440px,1180px,1180px;
$domClass:'kkpage-1920','kkpage-1680','kkpage-1440','kkpage-1180','kkpage-980';

@each $width in $domWidth {
  $minus:'';
  @if $width == 1180px {
    $minus : 470;
  }
  @include ieAdopt($width,nth($domClass,$i),$minus);
  $i: $i + 1;
}

/*
@include ieAdopt($five_1920,$ie_1920);
@include ieAdopt($four_1680,$ie_1680);
@include ieAdopt($three_1440,$ie_1440);
@include ieAdopt($two_1180,$ie_1180,470);
@include ieAdopt($two_1180,$ie_980,470);
*/


.kkpage-1180 .non-live-box{
  min-width: 1164px;
}

@media (min-width: $five_1920) {
  .in-live .live-box, .in-hk .non-live-box{
    width: 1885px;
    margin: 0 auto;
  }
}

@media (max-width: $five_1920) and (min-width:$four_1680+ 1 ){
  @include screenAdopt($five_1920);
  .non-live-box{
    min-width: 1799px;
  }
}
@media (max-width: $four_1680) and (min-width:$three_1440+ 1 ) {
  @include screenAdopt($four_1680);
  .non-live-box{
    min-width: 1559px;
  }
}

@media (max-width: $three_1440) and (min-width:$two_1180+ 1 ){
  @include screenAdopt($three_1440);
  @include smallFont();
  .non-live-box{
    min-width: 1319px;
  }
}

@media (max-width: $two_1180) {
  @include screenAdopt($two_1180,470,220);
  @include smallFont();

  .non-live-box{
    min-width: 1164px;
  }
}
