.program_list{
  max-width: 360px;
  min-width: 280px;width: 280px;
}
.aside .program_all{
  max-width: 210px;
}
.play-rc-pack .program_all{
  display:none;
}

$dateBox : 75px;
$itemHeight : 77px;


$five_1920:1920px;$five_W:1890px;$five_vw:1315px;
$five_vh:$five_vw *9 /16 + 45;
$five_ph:$five_vh + 90 - $dateBox;
$five_fh:$five_vh + 20 - $itemHeight;
$five_zh:$five_vh + $itemHeight;


$four_1680:1700px;$four_W:1650px;$four_vw:1075px;
$four_vh:$four_vw *9 /16 + 45;
$four_ph:$four_vh + 90 - $dateBox;
$four_fh:$four_vh + 20 - $itemHeight;
$four_zh:$four_vh + $itemHeight;




$three_1440:1440px;$three_W:1410px;$three_vw:835px;
$three_vh:$three_vw *9 /16 + 45;
$three_ph:$three_vh + 90 - $dateBox;
$three_fh:$three_vh + 20 - $itemHeight;
$three_zh:$three_vh + $itemHeight;



$two_1180:1180px;$two_W:1150px;$two_vw:680px;
$two_vh:$two_vw *9 /16;
$two_ph:$two_vh + 90 - $dateBox;
$two_fh:$two_vh + 20 - $itemHeight;
$two_zh:$two_vh + $itemHeight;


$one_980:980px;

.kkpage-1920.play-rc-pack .non-live-box{
  min-width:280+ $five_vw;width:280 + $five_vw;margin:0 auto;
}
.kkpage-1920 .non-live-box{
  min-width:480 + $five_vw;width:480 + $five_vw;margin:0 auto;
}
.kkpage-1920 .aside{
  left:$five_vw;
}
.kkpage-1920 .program_list{
  min-width: 280px;width: 280px;
}
.kkpage-1920 .aside .program_all{
  min-width: 174px;width: 174px;
}
.kkpage-1920 .section,.kkpage-1680 .living-area{
  width : $five_vw;
}
.kkpage-1920 .screen{
  width : $five_vw;
  height: $five_vh;
}
.kkpage-1920 .non-live-box .live-tab-content{
  height:$five_ph;
}
.kkpage-1920 .non-live-box .channel_fm{
  height:$five_fh;
}
.kkpage-1920 .non-live-box .listcontrol-pack{
  height:$five_zh;
}



.kkpage-1680.play-rc-pack .non-live-box{
  min-width: 280 + $four_vw;width: 280 + $four_vw;margin:0 auto;
}
.kkpage-1680 .non-live-box{
  min-width:480 + $four_vw;width:480 + $four_vw;margin:0 auto;
}
.kkpage-1680 .aside{
  left:$four_vw;
}
.kkpage-1680 .program_list{
  min-width: 280px;width: 280px;
}
.kkpage-1680 .aside .program_all{
  min-width: 174px;width: 174px;
}
.kkpage-1680 .section,.kkpage-1680 .living-area{
  width : $four_vw;
}
.kkpage-1680 .screen{
  width : $four_vw;
  height: $four_vh;
}
.kkpage-1680 .non-live-box .live-tab-content{
  height:$four_ph;
}
.kkpage-1680 .non-live-box .channel_fm{
  height:$four_fh;
}
.kkpage-1680 .non-live-box .listcontrol-pack{
  height:$four_zh;
}
.kkpage-1680 .channel .item{
  font-size:16px;
}
.kkpage-1680 .fm  .name{
  font-size:14px;    left: 37%;
}
.channel_fm .logo {
  width: 45px;
  height: 45px;
}


.kkpage-1440.play-rc-pack .non-live-box{
  min-width: 280 + $three_vw;width: 280 + $three_vw;margin:0 auto;
}
.kkpage-1440 .non-live-box{
  min-width:480 + $three_vw;width:480 + $three_vw;margin:0 auto;
}
.kkpage-1440 .aside{
  left:$three_vw;
}
.kkpage-1440 .program_list{
  min-width: 280px;width: 280px;
}
.kkpage-1440 .aside .program_all{
  min-width: 174px;width: 174px;
}
.kkpage-1440 .section,.kkpage-1440 .living-area{
  width : $three_vw;
}
.kkpage-1440 .screen{
  width : $three_vw;
  height: $three_vh;
}
.kkpage-1440 .non-live-box .live-tab-content{
  height:$three_ph;
}
.kkpage-1440 .non-live-box .channel_fm{
  height:$three_fh;
}
.kkpage-1440 .non-live-box .listcontrol-pack{
  height:$three_zh;
}


.kkpage-1180.play-rc-pack .non-live-box{
  min-width: 280 + $two_vw;width: 280 + $two_vw;margin:0 auto;
}
.kkpage-1180 .non-live-box{
  min-width:480 + $two_vw;width:480 + $two_vw;margin:0 auto;
}
.kkpage-1180 .aside{
  left:$two_vw;
}
.kkpage-1180 .section,.kkpage-1180 .living-area{
  width : $two_vw;
}
.kkpage-1180 .program_list{
  min-width: 280px;width: 280px;
}
.kkpage-1180 .aside .program_all{
  min-width: 174px;width: 174px;
}
.kkpage-1180 .screen{
  width : $two_vw;
  height: $two_vh;
}
.kkpage-1180 .non-live-box .live-tab-content{
  height:$two_ph;
}
.kkpage-1180 .non-live-box .channel_fm{
  height:$two_fh;
}
.kkpage-1180 .non-live-box .listcontrol-pack{
  height:$two_zh;
}
.kkpage-1180 .non-live-box{
  min-width: 1164px;
}


.kkpage-980.play-rc-pack .non-live-box{
  min-width: 280 + $two_vw;width: 280 + $two_vw;margin:0 auto;
}
.kkpage-980 .non-live-box{
  min-width: 480 + $two_vw;width:480 + $two_vw;margin:0 auto;
}
.kkpage-980 .aside{
  left:$two_vw;
}
.kkpage-980 .section,.kkpage-980 .living-area{
  width : $two_vw;
}
.kkpage-980 .program_list{
  min-width: 280px;width: 280px;
}
.kkpage-980 .aside .program_all{
  min-width: 174px;width: 174px;
}
.kkpage-980 .screen{
  width : $two_vw;
  height: $two_vh;
}
.kkpage-980 .non-live-box .live-tab-content{
  height:$two_ph;
}
.kkpage-980 .non-live-box .channel_fm{
  height:$two_fh;
}
.kkpage-980 .non-live-box .listcontrol-pack{
  height:$two_zh;
}


@media(min-width:$two_1180+ 1 ){
  .non-live-box{
    min-width: 1319px;
  }
}
@media(min-width:$three_1440+ 1 ){
  .non-live-box{
    min-width: 1559px;
  }
}
@media(min-width:$four_1680+ 1 ){
  .non-live-box{
    min-width: 1559px;
  }
}

@media (min-width: $five_1920) {
  .play-rc-pack .non-live-box{
    min-width: 1355px;width: 1355px;margin:0 auto;
  }
  .aside{
    left:$four_vw;
  }
  .section,.living-area{
    width : $four_vw;
  }
  .screen{
    width : $four_vw;
    height: $four_vh;
  }
  .non-live-box .live-tab-content{
    height:$four_ph;
  }
  .non-live-box .channel_fm{
    height:$four_fh;
  }
  .non-live-box .listcontrol-pack{
    height:$four_zh;
  }
  .channel item{
    font-size:16px;
  }
  .fm  .name{
    font-size:14px;    left: 37%;
  }
  .channel_fm .logo {
    width: 45px;
    height: 45px;
  }
}



@media (max-width: $five_1920) {
  .play-rc-pack .non-live-box{
    min-width: 1355px;width: 1355px;margin:0 auto;
  }
  .aside{
    left:$four_vw;
  }
  .section,.living-area{
    width : $four_vw;
  }
  .screen{
    width : $four_vw;
    height: $four_vh;
  }
  .non-live-box .live-tab-content{
    height:$four_ph;
  }
  .non-live-box .channel_fm{
    height:$four_fh;
  }
  .non-live-box .listcontrol-pack{
    height:$four_zh;
  }
  .channel item{
    font-size:16px;
  }
  .fm  .name{
    font-size:14px;    left: 37%;
  }
  .channel_fm .logo {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: $four_1680) {
  .play-rc-pack .non-live-box{
    min-width: 1355px;width: 1355px;margin:0 auto;
  }
  .aside{
    left:$four_vw;
  }
  .section,.living-area{
    width : $four_vw;
  }
  .screen{
    width : $four_vw;
    height: $four_vh;
  }
  .non-live-box .live-tab-content{
    height:$four_ph;
  }
  .non-live-box .channel_fm{
    height:$four_fh;
  }
  .non-live-box .listcontrol-pack{
    height:$four_zh;
  }
  .channel item{
    font-size:16px;
  }
  .fm  .name{
    font-size:14px;    left: 37%;
  }
  .channel_fm .logo {
    width: 45px;
    height: 45px;
  }
}

@media (max-width: $three_1440) {
  .play-rc-pack .non-live-box{
    min-width: 1115px;width: 1115px;margin:0 auto;
  }
  .aside{
    left:$three_vw;
  }
  .section,.living-area{
    width : $three_vw;
  }
  .screen{
    width : $three_vw;
    height: $three_vh;
  }
  .non-live-box .live-tab-content{
    height:$three_ph;
  }
  .non-live-box .channel_fm{
    height:$three_fh;
  }
  .non-live-box .listcontrol-pack{
    height:$three_zh;
  }
}

@media (max-width: $two_1180) {
  .play-rc-pack .non-live-box{
    min-width: 960px;width: 960px;margin:0 auto;
  }
  .aside{
    left:$two_vw;
  }
  .section,.living-area{
    width : $two_vw;
  }
  .screen{
    width : $two_vw;
    height: $two_vh;
  }
  .non-live-box .live-tab-content{
    height:$two_ph;
  }
  .non-live-box .channel_fm{
    height:$two_fh;
  }
  .non-live-box .listcontrol-pack{
    height:$two_zh;
  }
  .non-live-box{
    min-width: 1164px;
  }
}
